<!-- app/views/homes/index.html.erb -->
<div class="container top-page">
  <div class="upside-down">「うよみてえかをたかみのいかせ」</div>
  <div class="page-title">「せかいのみかたをかえてみよう」</div>
  <% if user_signed_in? %>
    <div class="user-name">
        Welcome, <%= current_user.nickname %>さん！
    </div>
    <% else %>
    <div class="user-name">
        ログインしてください
    </div>
  <% end %>

  <div class="info-section">
    <h2>Who is this app for ? </h2>
    <p>対象</p>
    <p>自分の考え方を変えることで世界を変えたい人</p>
  </div>

  <div class="info-section">
    <h2>How to use this app </h2>
    <p>つかいかた</p>
    <p>① こころが動いた瞬間のできごとを記録しましょう</p>
    <p>② AIでデータを分析し、「わたし」の理解を深めましょう</p>
  </div>

  <div class="info-section">
    <h2>Story of the Developer</h2>
    <p>このアプリができるまで</p>
    <p>別途お問い合わせください</p>
  </div>
</div>
