<!-- app/views/homes/index.html.erb -->
<div class="container top-page">

  <div class="page-title">「視点を変えるクイズアプリ」</div>
  <%= button_to "質問にこたえてみる", new_post_path, method: :get, class: "try-button" %>
  
  <% if user_signed_in? %>
    <div class="user-name">
        Welcome, <%= current_user.nickname %>さん！
         <%= link_to "Passkeys設定", passkeys_path, class: "btn btn-secondary" %>
    </div>
    <% else %>
    <div class="user-name">
      <%= link_to "ログイン", new_user_session_path %> してください
    </div>
  <% end %>

  <div class="info-section">
    <h2>このアプリの対象者</h2>
    <p>ネガティブ思考を変えたい人</p>
    <p>人のせいにするのをやめたい人</p>
  </div>

  <div class="info-section">
    <h2>つかいかた</h2>
    <p>①ログインします</p>
    <p>②ネガティブ気持ちになったできごとと感情を記録します</p>
    <p>③記録したことについて別の視点から考える練習をします</p>
    <p>④応用編 記録したデータをAIに分析してもらいます</p>
  </div>

</div>
