<!-- app/views/homes/index.html.erb -->
<div class="container top-page">
  <h1 class="page-title">うよみてえかをたかみのいかせ</h1>
  <h1 class="page-title">せかいのみかたをかえてみよう</h1>
  <% if user_signed_in? %>
    <p>
      Welcome, <%= current_user.nickname %>!
    </p>
  <% end %>

  <div class="info-section">
    <h2>Who is this app for?</h2>
    <p>自分の考え方を変えることで、見えている世界を変えたい人</p>
  </div>

  <div class="info-section">
    <h2>How to use this app</h2>
    <p>うれしい、悲しい、etc. こころが動いた瞬間のできごとを記録しましょう</p>
  </div>

  <div class="info-section">
    <h2>Story of the Developer</h2>
    <p>Detail about how the app was developed and the inspiration behind it.</p>
  </div>
</div>