/* app/assets/stylesheets/devise.css */

/* Authentication Forms */
.auth-form {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align text within the form */
}

.auth-title {
  color: #fff; /* White font color for page titles */
  margin-bottom: 40px;
  text-align: left; /* Align title to the left */
  margin-left: 25%; /* Adjust the margin to move it closer to the center */
}

.auth-form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the input fields */
}

.auth-form-group label {
  margin-bottom: 5px;
  color: #aaa;
}

.auth-form-control {
  width: 25vw; /* ％にすると、空欄登録した時ボックスが小さくなってしまう */
  padding: 10px;
  background-color: #121212;
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
  box-sizing: border-box;
}

.auth-form-check-input {
  margin-right: 10px;
}

.auth-form-check-label {
  color: #aaa;
}

.auth-actions {
  text-align: center; /* Center the submit button */
  margin-bottom: 20px;
}

.auth-btn-submit {
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.auth-btn-submit:hover {
  background-color: #444;
}

.auth-form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.error-alert {
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  background-color: transparent;
}

.error-message {
  margin-bottom: 5px;
}