.pagination-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination {
  display: inline-flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination span, .pagination em, .pagination a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: #333;
  border: 1px solid #444;
}

.pagination .current {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination a:hover {
  color: #fff;
  background-color: #444;
  border-color: #555;
}

.pagination span:first-child,
.pagination a:first-child {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination span:last-child,
.pagination a:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}