/* app/assets/stylesheets/top_page.css */
body {
  background-color: #2c2c2c; /* Slightly lighter black for the body */
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2c2c2c; /* Matching the body background color */
}

.page-title {
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.upside-down {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  transform: rotate(180deg); /* 180度回転させて上下反転 */
}

.user-name {
  font-size: 15px;
  color: #fff;
  margin-top: 100px;
  text-align: center;
} 

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-group .btn {
  margin: 5px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button-group .btn:hover {
  background-color: #444;
}

.info-section {
  margin-top: 20px;
  padding: 20px;
  background-color:#1a1a1a; /* Darker black for content boxes */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);/* Slightly darker shadow */
}

.info-section h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.info-section p {
  font-size: 15px;
  line-height: 1.5;
  color: #ccc;
}

 
.top-page {
  text-align: center;
  margin-top: 50px;
}
